<div class="cv_formations formations">
    <h3 class="formation_title">
        <%= title %>
    </h3>
    <% formations.forEach(function(formation) { %>
    <div class="formations_item formation" itemprop="alumniOf" itemscope
         itemtype="http://schema.org/EducationalOrganisation">
        <h4 class="formation_name" itemprop="name"><%= formation.name %></h4>
        <div class="formation_date">
            <span class="formation_start-date"><%= formation.startDate %></span>
            <span class="formation_end-date"><%= formation.endDate %></span>
        </div>
        <% if (formation.domain) { %>
        <div class="formation_domain"><%= formation.domain %></div>
        <% } %>
        <% if (formation.result) { %>
        <div class="formation_result"><%= formation.result %></div>
        <% } %>
    </div>
    <% }); %>
</div>