<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0">
    <title>CV Jonathan Coueraud 2017</title>
    <meta name="theme-color" content="#6387F5">
    <link rel="icon" href="img/my-picture.png">
    <meta property="og:type" content="website">
    <meta property="og:title" content="CV Jonathan Coueraud 2017">
    <meta property="og:description" content="">
</head>
<body>
<div class="cv" itemscope itemtype="http://schema.org/Person">
    <%- header %>
    <%- resume %>
    <%- contact %>
    <%- experience %>
    <%- formations %>
    <%- skills %>
    <div class="cv_realisations realisations">
        <h3 class="realisations_title">réalisations</h3>
        <%- languages %>
        <%- projects %>
    </div>
</div>
</body>
</html>